@-webkit-keyframes bannerScrolling {
    from {
        height: 5%;
    }
    to {
        height: 40%;
    }
}
@-webkit-keyframes guiShowerArrival {
    from {
        bottom: 3%;
    }
    to {
        bottom: 1%;
    }
}


@-webkit-keyframes doorOpening-left {
    from {
        left: 0%;
    }
    to {
        left: -50%;
    }
}

@-webkit-keyframes doorOpening-right {
    from {
        left: 50%;
    }
    to {
        left: 100%;
    }
}

@font-face {
    font-family: 'medieval';
    src: url("ressources/fonts/OldLondon.ttf");
}

body {
    cursor: url(ressources/images/cursor.png), pointer;
}

input:focus {
    outline: none;
}

/******************************************************************/
/******************** - GUI - Connection Page - *******************/
/******************************************************************/

#GUI-connection-back {
    position: absolute;
    height: 102%;
    width: 102%;
    z-index: 3;
    display: flex;
}

.Opening-left {
    -webkit-animation: doorOpening-left;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forward;
    -webkit-animation-delay: 2s;
}

.Opening-right {
    -webkit-animation: doorOpening-right;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forward;
    -webkit-animation-delay: 2s;
}


#GUI-connection-Title {
    position: absolute;
    height: 20%;
    width: 50%;
    left: 25%;
    top: 5%;
    background-size: 100% 100%;
    background-image: url(ressources/images/Title.png);
}

#GUI-connection-Subtitle {
    position: absolute;
    height: 20%;
    width: 50%;
    left: 25%;
    top: 5%;
    background-size: 100% 100%;
    background-image: url(ressources/images/Title.png);
}

#GUI-connection-left {
    position: absolute;
    height: 100%;
    width: 50%;
    background-size: 100% 120%;
    background-image: url(ressources/images/left-door.jpg);
}

#GUI-connection-right {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 50%;
    background-size: 100% 120%;
    background-image: url(ressources/images/right-door.jpg)
}

#GUI-connection-login-container {
    position: absolute;
    width: 20%;
    height: 10%;
    background-size: 100% 100%;
    background-image: url(ressources/images/writeField.png);
    left: 3%;
    top: 35%;
    transition: backrgound-image;
}

#GUI-connection-login-container:hover {
    background-image: url(ressources/images/writeField-selected.png);
}

#GUI-connection-login-typing {
    width: 85%;
    height: 70%;
    margin-left: 8%;
    margin-top: 0%;
    color: white;
    background-color: transparent;
    line-height: 1.3;
    text-shadow: 0 0 5px gold;
    font-size: 40px;
    font-family: medieval;
    text-align: center;
    border: 0px;
}

#GUI-connection-port-container {
    position: absolute;
    width: 20%;
    height: 10%;
    background-size: 100% 100%;
    background-image: url(ressources/images/writeField.png);
    left: 25%;
    top: 35%;
    transition: background-image;
}


#GUI-connection-port-container:hover {
    background-image: url(ressources/images/writeField-selected.png);
}

#GUI-connection-port-typing {
    width: 80%;
    height: 70%;
    margin-left: 10%;
    color: white;
    margin-top: 0%;
    background-color: transparent;
    text-shadow: 0 0 5px gold;
    font-size: 40px;
    font-family: medieval;
    text-align: center;
    line-height: 1.3;
    border: 0px;
}


#GUI-connection-connect-button {
    position: absolute;
    width: 20%;
    height: 15%;
    background-size: 100% 100%;
    background-image: url(ressources/images/spectator-button.png);
    left: 13%;
    bottom: 35%;
    text-shadow: 0 0 10px #ffffff;
}

#GUI-connection-connect-button:hover {
    background-image: url(ressources/images/spectator-button-selected.png);
    text-shadow: 0 0 10px red;
    color: black;
}

#GUI-connection-connect-button-text {
    height: 20%;
    width: 88%;
    margin-left: 6%;
    margin-top: 5%;
    display: inline-block;
    text-align: center;
    font-family: fantasy;
    font-size: 40px;
    line-height: 2;
}

#GUI-connection-Spectator-button {
    position: absolute;
    width: 20%;
    height: 15%;
    background-size: 100% 100%;
    background-image: url(ressources/images/spectator-button.png);
    left: 63%;
    bottom: 35%;
    transition: background-image;
    color: black;
    text-shadow: 0 0 5px #ffffff;
}

#GUI-connection-Spectator-button:hover {
    background-image: url(ressources/images/spectator-button-selected.png);
    text-shadow: 0 0 10px red;
    color: black;
}

#GUI-connection-Spectator-button-text {
    height: 20%;
    width: 88%;
    margin-left: 6%;
    margin-top: 5%;
    display: inline-block;
    text-align: center;
    font-family: fantasy;
    font-size: 35px;
/*
    text-shadow: 0 0 5px #ffffff;
*/
}
/******************************************************************/
/********************* - GUI - Team Banners - *********************/
/******************************************************************/

#GUI-TeamContainer {
    height: 40%;
    width: 83%;
    position: absolute;
    display: flex;
}

.teamBannerContainer {
    position: relative;
    display: block;
    width: 20%;
    height: 100%;
}

.teamBanner {
    position: relative;
    width: 100%;
    height: 10%;
    margin-top: 0%;
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-transition: height 1s;
}

.teamBanner:hover {
    height: 120%;
}

.bannerShaft {
    width: 100%;
    position: relative;
    height: 8%;
    background-size: 100% 100%;
}

.bannerContentContainer {
    position: relative;
    color: white;
    text-align: center;
    font-family: fantasy;
    font-size: 25px;
    width: 65%;
    height: 57%;
    top: 16%;
    left: 17%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bannerContent {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    font-family: medieval;
    font-size: 100%;
}

.bannerContent:hover {
    height: 100%;
}


.teamTitle {
    width: 100%;
    height: 25px;
    font-family: medieval;
    font-size: 100%;
    margin-top: -2%;
    color: yellow;
}

/******************************************************************/
/******************** - GUI - Cell Inventory - ********************/
/******************************************************************/

.Displayer {
    position: fixed;
    transform: rotate(5deg);
    border: 0px;
    width: 30%;
    height: 40%;
    bottom: 1%;
    right: 1%;
    z-index: 2;
    background-image: url(ressources/images/parchment.png);
    background-size: 100% 100%;
    text-align: center;
    outline: 0;
    display: none;

    -webkit-animation: guiShowerArrival;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate-reverse;
    -webkit-transition: height 0.5s;
}

.Displayer:hover {
    height: 50%;
}
#magnifying-glass {
    background-image: url(ressources/images/magnifying-glass.png);
    background-size: 100% 100%;
    width: 30%;
    height: 30%;
    left: 57%;
    top: 70%;
    position :absolute;
}

#describer-Content {
    color: darkblue;
    font-size: 25px;
    font-family: medieval;
    font-style: normal;
    margin-top: 12%;
    margin-left: 16%;
    margin-right: 15%;
    width: 68%;
    height: 70%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    color: black;
}

#describer-Title {
    width: 100%;
    height: 10%;
}

#describer-Ressources {
    width: 100%;
    height: 20%;
}

#describer-Players {
    width: 100%;
    margin-top: 10%;
    height: 50%;
}
#describer-RessourcesIconContainer {
    width: 100%;
    height: 12%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
}

.describer-Icon-Text {
    font-size: 65%;
    color: darkred;
    width: 50%;
    margin-top: 50%;
    margin-left: 50%;
    font-style: italic;
}

#describer-Food-Icon {
    background-image: url(ressources/images/food-icon.png);
    background-size: 100% 100%;
    width: 15%;
    height: 90%;
}
#describer-Linemate-Icon {
    background-image: url(ressources/images/green-diamon.png);
    background-size: 100% 100%;
    margin-left: 3%;
    width: 15%;
    height: 80%;
}
#describer-Deraumere-Icon {
    background-image: url(ressources/images/red-diamon.png);
    background-size: 100% 100%;
    margin-left: 3%;
    width: 15%;
    height: 80%;
}
#describer-Sibur-Icon {
    background-image: url(ressources/images/blue-diamon.png);
    background-size: 100% 100%;
    margin-left: 3%;
    width: 15%;
    height: 80%;
}
#describer-Mendiane-Icon {
    background-image: url(ressources/images/cyan-diamon.png);
    background-size: 100% 100%;
    margin-left: 3%;
    width: 15%;
    height: 80%;
}
#describer-Phiras-Icon {
    background-image: url(ressources/images/gold-diamon.png);
    background-size: 100% 100%;
    margin-left: 3%;
    width: 15%;
    height: 80%;
}
#describer-Thystame-Icon {
    background-image: url(ressources/images/pink-diamon.png);
    background-size: 100% 100%;
    margin-left: 3%;
    width: 15%;
    height: 80%;
}

/******************************************************************/
/******************** - GUI - Victory Display - *******************/
/******************************************************************/

#victory {
    height: 100%;
    width: 35%;
    left: 32%;
    top: 0%;
    text-align: center;
    position: absolute;
    z-index: 5000;
    background-image: url(ressources/images/GUIBanners/red.png);
    background-size: 100% 100%;
    display: none;
}

#victory-team-banner {
    position: absolute;
    top: 20%;
    height: 60%;
    width: 100%;
    background-size: 100% 100%;
    background-image: url(ressources/images/Victory.png);
}
#victory-team-name {
    position: absolute;
    text-align: center;
    width: 40%;
    height: 8%;
    left: 30%;
    top: 53%;
    font-family: medieval;
    font-size: 200%;
    color: black;
}

/******************************************************************/
/*********************** - GUI - Log Book - ***********************/
/******************************************************************/

#logBook {
    position: absolute;
    color: firebrick;
    font-family: medieval;
    font-size: 25px;
    text-align: center;
    width: 40%;
    height: 60%;
    top: 20%;
    left: 28%;
    background-image: url(ressources/images/oldBook.png);
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: none;
}

#logBook-leftPage {
    position: absolute;
    margin-left: 7%;
    margin-top: 5%;
    width: 40%;
    height: 70%;
}

#left-page-title {
    top: -10%;
    margin-bottom: 20%;
}

#logBook-rightPage {
    position: absolute;
    margin-left: 52%;
    margin-top: 10%;
    width: 40%;
    height: 70%;
}

#right-page-title {
    position: absolute;
    color: black;
    top: -10%;
    height: 10%;
}

#right-page-size {
    color: darkblue;
    text-align: left;
    margin-bottom: 15%;
}

.logBook-rIcon {
    position: relative;
    margin-left: 0%;
    margin-top: 5%;
    width:  80%;
    height: 8%;
    background-size: 17% 100%;
    background-repeat: no-repeat;
    text-align: right
}
#logBook-r-Icon-Food {
    background-image: url(ressources/images/food-icon.png);
}
#logBook-r-Icon-Linemate {
    background-image: url(ressources/images/green-diamon.png);
}
#logBook-r-Icon-Deraumere {
    background-image: url(ressources/images/red-diamon.png);
}
#logBook-r-Icon-Sibur {
    background-image: url(ressources/images/blue-diamon.png);
}
#logBook-r-Icon-Mendiane {
    background-image: url(ressources/images/cyan-diamon.png);
}
#logBook-r-Icon-Phiras {
    background-image: url(ressources/images/gold-diamon.png);
}
#logBook-r-Icon-Thystame {
    background-image: url(ressources/images/pink-diamon.png);
}

#right-page-content {
    height: 100%;
    width: 100%;
    margin-left: 10%;
    overflow-x: hidden;
    overflow-y: hidden;
}